@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.landingPageBody {
    background-color: #e6e6ff;
    color: black;
    font-family: 'Lato', sans-serif;
    padding-top: 5%;
}